* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

input,
button {
  font-size: 1em;
}

.grid-layout {
  display: grid;
  grid-template-columns: [content] auto;
  grid-template-rows: [header] 80px [content] auto [navbar] 80px;
}

.header-layout {
  grid-column: content;
  grid-row: header;
  place-self: center;
}

.content-layout {
  grid-column: content;
  grid-row: content;
  width: 100%;
  height: 510px;
}

.navbar-layout {
  grid-column: content;
  grid-row: navbar;
}

.footer {
  display: flex;
  fle
}
