:root {
  --header-background: brown;
  --header-border: black;
  --main-background: lightskyblue;
  --navbar-background: burlywood;
  --navbar-border: black;
  --content-background: white;
  --quiz-window-border: black;
  --answer-button-background: burlywood;
  --answer-button-shadow: rgb(202, 193, 193);
  --answer-button-hover: rgb(167, 126, 73);
  --answer-button-active: rgb(167, 126, 73);
  --answer-button-active-shadow: #666;
  --tag-border: black;
  --tag-background: burlywood;
}
