.main-flex-create {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form h3 {
  text-align: center;
}

.addquestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 10px;
  width: 60vw;
  background-color: var(--content-background);
}

#addquestion__text {
  width: 40vw;
  height: 10vh;
}

.addanswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--content-background);
}

#addanswer__text {
  width: 40vw;
  height: 10vh;
}

.addtags {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--content-background);
}

#addtags__input {
  width: 40vw;
  height: 10vh;
}

.submit {
  place-self: center;
  margin-bottom: 2vh;
}
