.main-flex-create {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form h3 {
  text-align: center;
}

.addquestion {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 10px;
  background-color: var(--content-background);
}

#addquestion__text {
  width: 20 vw;
  height: 10vh;
}

.addanswer {
  border-radius: 1rem;
  padding: 1rem;
  background: var(--content-background);
}

#addanswer__text {
  width: 20 vw;
  height: 10vh;
}

.addtags {
  border-radius: 1rem;
  padding: 1rem;
  background: var(--content-background);
}

.submit {
  place-self: center;
}
